<div th:fragment="fileDetail">
    <!-- DPI数据接收设备页面 -->
    <div class="modal inmodal fade" id="fileDetail" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" >
            <div class="modal-content" >
            	<div class="ibox-title" >
                   <h5 >详情</h5>
                   <button type="button" class="btn btn-success m-t-n-sm pull-right" data-dismiss="modal" name="returnBtn"><i class="fa fa-reply-all"></i> 返回上一级</button>
               	</div>
                <div class="modal-body form-horizontal">
                    <div class="row">
                    	<div class="col-sm-12" id="ipsUpload">
                    		<div class="example-wrap text-right">
								<div class="example">
									<input type="hidden" id="fileDetialMessageType" value="">
									<table id="detialList" data-mobile-responsive="true" class="text-left">
									</table>
								</div>
							</div>
                    	</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>