<div th:fragment="myfooter">
    <script th:src="@{{path}/static/js/jquery.min.js?v=2.1.4(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/jquery-ui-1.10.4.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/plugins/metisMenu/jquery.metisMenu.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/plugins/slimscroll/jquery.slimscroll.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/bootstrap.min.js?v=3.3.6(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/plugins/layer/layer.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/hplus.min.js?v=4.1.0(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/contabs.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/plugins/pace/pace.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/content.min.js?v=1.0.0(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/plugins/bootstrap-table/bootstrap-table.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/demo/bootstrap-table-demo.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/jQuery.extend.js(path=${contextPath})}"></script>

    <script th:src="@{{path}/static/js/plugins/fileSaver/FileSaver.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/common/form.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/common/common.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/common/date.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/plugins/sweetalert/sweetalert.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/plugins/ajaxfileupload.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/plugins/bootstrap-editable/bootstrap-editable.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/plugins/bootstrap-editable/bootstrap-table-editable.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/common/message_type.js(path=${contextPath})}"></script>
    <!--<script th:src="@{{path}/static/js/plugins/jquery_searchableselect/jquery.searchableSelect.js(path=${contextPath})}"></script>-->

    <!--<script th:src="@{{path}/static/js/hplus/hplus.min.js?v=4.1.0(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/hplus/hplus-1.min.js?v=4.1.0(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/hplus/hplus-2.min.js?v=4.1.0(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/hplus/hplus-3.min.js?v=4.1.0(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/hplus/hplus-4.min.js?v=4.1.0(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/hplus/hplus-5.min.js?v=4.1.0(path=${contextPath})}"></script>-->
</div>

<div id = 'usergroupmanager'>
    <script th:src="@{{path}/static/js/plugins/layer/laydate/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/plugins/bootstrap-select/bootstrap-select.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/usergroupmanager/UsergroupJS.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/common/policy-detail-snippet.js(path=${contextPath})}"></script>
</div>
<div id = 'usergroupbind'>
    <script th:src="@{{path}/static/js/plugins/layer/laydate/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/plugins/bootstrap-select/bootstrap-select.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/usergroupbind/usergroupbind.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/common/policy-detail-snippet.js(path=${contextPath})}"></script>
</div>
<div id = 'userlist'>
    <script th:src="@{{path}/static/js/plugins/bootstrap-select/bootstrap-select.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/plugins/layer/laydate/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/usergroupmanager/UserlistJS.js(path=${contextPath})}"></script>
</div>

<div id = 'classinfo'>
    <script th:src="@{{path}/static/js/plugins/layer/laydate/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/plugins/layer/laydate/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/classinfo/classinfoJS.js(path=${contextPath})}"></script>
</div>

<div id = 'infolibrary'>
    <script th:src="@{{path}/static/js/plugins/layer/laydate/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/informationpush/triggerLibrary.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/common/policy-detail-snippet.js(path=${contextPath})}"></script>
</div>
<div id = 'trigger'>
    <script th:src="@{{path}/static/js/plugins/layer/laydate/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/informationpush/trigger.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/plugins/bootstrap-select/bootstrap-select.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/common/policy-detail-snippet.js(path=${contextPath})}"></script>
</div>

<div id = 'bras'>
    <script th:src="@{{path}/static/js/plugins/layer/laydate/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/bras/Bras.js(path=${contextPath})}"></script>
</div>
<div id = 'httpgetlist'>
    <script th:src="@{{path}/static/js/plugins/layer/laydate/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/httpgetlist/GETlist.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/common/policy-detail-snippet.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/common/file-detail-snippet.js(path=${contextPath})}"></script>
</div>
<div id = 'userstaticip'>
    <script th:src="@{{path}/static/js/plugins/layer/laydate/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/userstaticip/staticip.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/common/policy-detail-snippet.js(path=${contextPath})}"></script>
</div>
<div id = 'flowmanager'>
    <script th:src="@{{path}/static/js/plugins/layer/laydate/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/plugins/bootstrap-select/bootstrap-select.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/common/policy-detail-snippet.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/apppolicy/flowmanager/flow.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/common/add-usergroup-snippet.js(path=${contextPath})}"></script>

</div>
</div>
<div id = 'webflowmanager'>
    <script th:src="@{{path}/static/js/plugins/layer/laydate/laydate.js(path=${contextPath})}"></script>
	<script th:src="@{{path}/static/js/common/add-usergroup-snippet.js(path=${contextPath})}"></script>
	<script th:src="@{{path}/static/js/common/policy-detail-snippet.js(path=${contextPath})}"></script>
	<script th:src="@{{path}/static/js/plugins/bootstrap-select/bootstrap-select.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/apppolicy/webflowmanager/webflowmanager.js(path=${contextPath})}"></script>
</div>

<!--<div id = 'voipflowmanage'>
	<script th:src="@{{path}/static/js/common/add-usergroup-snippet.js(path=${contextPath})}"></script>
	<script th:src="@{{path}/static/js/plugins/bootstrap-select/bootstrap-select.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/apppolicy/voipflowmanage/voipflowmanage.js(path=${contextPath})}"></script>
</div>-->

<div id = 'webpushmanage'>
    <script th:src="@{{path}/static/js/plugins/layer/laydate/laydate.js(path=${contextPath})}"></script>
	<script th:src="@{{path}/static/js/common/add-usergroup-snippet.js(path=${contextPath})}"></script>
	<script th:src="@{{path}/static/js/plugins/bootstrap-select/bootstrap-select.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/apppolicy/webpushmanage/webpushmanage.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/common/policy-detail-snippet.js(path=${contextPath})}"></script>
</div>

<!-- 静态设备 -->
<div id = 'dpiStatic'>
    <script th:src="@{{path}/static/js/plugins/layer/laydate/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/devicemanage/dpiStatic/dpi.static.js(path=${contextPath})}"></script>
</div>
<!-- 动态设备 -->
<div id = 'dpiDynamic'>
    <script th:src="@{{path}/static/js/plugins/layer/laydate/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/echarts.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/devicemanage/dpiDynamic/dpi.dynamic.js(path=${contextPath})}"></script>
</div>
<!-- 流量流向 -->
<div id = 'flowDirection'>
    <script th:src="@{{path}/static/js/plugins/layer/laydate/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/common/policy-detail-snippet.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/plugins/ztree/jquery.ztree.all-3.5.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/plugins/ztree/jquery.ztree.core.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/plugins/ztree/jquery.ztree.excheck.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/plugins/ztree/jquery.ztree.exedit.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/apppolicy/flowDirection/flow.direction.js(path=${contextPath})}"></script>
</div>

<div id = 'flowupload'>
    <script th:src="@{{path}/static/js/plugins/layer/laydate/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/common/policy-detail-snippet.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/plugins/ztree/jquery.ztree.all-3.5.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/plugins/ztree/jquery.ztree.core.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/plugins/ztree/jquery.ztree.excheck.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/plugins/ztree/jquery.ztree.exedit.js(path=${contextPath})}"></script>
	<script th:src="@{{path}/static/js/common/add-usergroup-snippet.js(path=${contextPath})}"></script>
	<script th:src="@{{path}/static/js/plugins/bootstrap-select/bootstrap-select.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/upload/flowupload.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/upload/flowuploadDdos.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/upload/addAppUser.js(path=${contextPath})}"></script>
</div>

<!-- 设备管理JS -->
<div id = 'device'>
    <script th:src="@{{path}/static/js/plugins/layer/laydate/laydate.js(path=${contextPath})}"></script>
	<script th:src="@{{path}/static/js/jtopo-min.js(path=${contextPath})}"></script>
	<script th:src="@{{path}/static/js/toolbar.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/devicemanage/devicemanage/deviceManage.js(path=${contextPath})}"></script>
	<script th:src="@{{path}/static/js/plugins/bootstrap-select/bootstrap-select.min.js(path=${contextPath})}"></script>
</div>

<!-- 机房管理JS -->
<div id = 'houseManage'>
    <script th:src="@{{path}/static/js/plugins/layer/laydate/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/devicemanage/housemanage/houseManage.js(path=${contextPath})}"></script>
</div>

<!--  系统参数设置js  -->
<div id='parameterSetting' >
    <script th:src="@{{path}/static/js/plugins/layer/laydate/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/system/parameter/parameterSetting.js(path=${contextPath})}"></script>
</div>

<!--  操作日志js  -->
<div id='operationLog' >
    <script th:src="@{{path}/static/js/plugins/layer/laydate/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/system/operationLog/operationLog.js(path=${contextPath})}"></script>
</div>

<div id='userApp' >
    <script th:src="@{{path}/static/js/plugins/layer/laydate/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/apppolicy/appuser/appUser.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/plugins/bootstrap-select/bootstrap-select.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/common/policy-detail-snippet.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/common/add-usergroup-snippet.js(path=${contextPath})}"></script>
</div>

<div id = 'voipflowmanage'>
    <script th:src="@{{path}/static/js/plugins/layer/laydate/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/plugins/bootstrap-select/bootstrap-select.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/apppolicy/voipflowmanage/voipflowmanage.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/common/policy-detail-snippet.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/common/add-usergroup-snippet.js(path=${contextPath})}"></script>
</div>

<div id = '3amonitor'>
    <script th:src="@{{path}/static/js/plugins/layer/laydate/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/echarts.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/datamonitor/3amonitor.js(path=${contextPath})}"></script>
</div>

<!-- 告警监控功能 -->
<!-- 告警 -->
<div id = 'monitorAlarm'>
    <script th:src="@{{path}/static/js/plugins/layer/laydate/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/monitor/monitor.alarm.js(path=${contextPath})}"></script>
</div>
<!-- 任务监控 -->
<div id = 'monitorTask'>
    <script th:src="@{{path}/static/js/plugins/layer/laydate/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/monitor/monitor.task.js(path=${contextPath})}"></script>
</div>

<!-- 详情文件页面的 -->
<div id = 'monitorDetailFile'>
    <script th:src="@{{path}/static/js/plugins/layer/laydate/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/monitor/monitor.detail.file.js(path=${contextPath})}"></script>
</div>


<!-- httpget -->
<div id = 'monitorHttpGet'>
    <script th:src="@{{path}/static/js/plugins/layer/laydate/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/echarts.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/plugins/ztree/jquery.ztree.core.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/monitor/monitor.httpget.js(path=${contextPath})}"></script>
</div>

<!-- ud1 -->
<div id = 'monitorUdOne'>
    <script th:src="@{{path}/static/js/plugins/layer/laydate/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/echarts.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/plugins/ztree/jquery.ztree.core.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/monitor/monitor.ud1.js(path=${contextPath})}"></script>
</div>
<!-- sftp -->
<div id = 'monitorSftp'>
    <script th:src="@{{path}/static/js/plugins/layer/laydate/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/echarts.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/plugins/ztree/jquery.ztree.core.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/monitor/monitor.sftp.js(path=${contextPath})}"></script>
</div>
<!-- 数据上报 -->
<div id = 'monitorDataUpload'>
    <script th:src="@{{path}/static/js/plugins/layer/laydate/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/echarts.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/monitor/datauploadmonitor.js(path=${contextPath})}"></script>
</div>
<!-- appflow全业务 -->
<div id = 'monitorAppFlow'>
    <script th:src="@{{path}/static/js/plugins/layer/laydate/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/echarts.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/monitor/monitor.appflow.js(path=${contextPath})}"></script>
</div>

<!--  流量标记       -->
<div id = 'flowMark'>
    <script th:src="@{{path}/static/js/plugins/layer/laydate/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/plugins/bootstrap-select/bootstrap-select.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/apppolicy/flowmark/flowmark.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/common/policy-detail-snippet.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/common/add-usergroup-snippet.js(path=${contextPath})}"></script>
</div>

<div id = 'ddosflowmanage'>
    <script th:src="@{{path}/static/js/plugins/layer/laydate/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/plugins/bootstrap-select/bootstrap-select.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/apppolicy/ddosflowmanage/ddosflowmanage.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/common/policy-detail-snippet.js(path=${contextPath})}"></script>
</div>


<!--  流量镜像       -->
<div id = 'flowMirror'>
    <script th:src="@{{path}/static/js/plugins/layer/laydate/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/plugins/bootstrap-select/bootstrap-select.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/apppolicy/flowmirror/flowmirror.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/common/policy-detail-snippet.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/common/add-usergroup-snippet.js(path=${contextPath})}"></script>
</div>

<!--  应用特征自定义    -->
<div id = 'customFeatures'>
    <script th:src="@{{path}/static/js/plugins/layer/laydate/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/plugins/bootstrap-select/bootstrap-select.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/apppolicy/customfeatures/customApplicationFeatures.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/common/policy-detail-snippet.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/common/add-usergroup-snippet.js(path=${contextPath})}"></script>
</div>

<!-- 应用流量流向-->
<div id = 'monitorAppFlowDirec'>
    <script th:src="@{{path}/static/js/plugins/layer/laydate/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/echarts.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/monitor/appflowdirecmonitor.js(path=${contextPath})}"></script>
</div>

<!-- 1拖N用户管理 -->
<div id = 'sharemanage'>
    <script th:src="@{{path}/static/js/plugins/layer/laydate/laydate.js(path=${contextPath})}"></script>
	<script th:src="@{{path}/static/js/common/add-usergroup-snippet.js(path=${contextPath})}"></script>
	<script th:src="@{{path}/static/js/common/policy-detail-snippet.js(path=${contextPath})}"></script>
	<script th:src="@{{path}/static/js/plugins/bootstrap-select/bootstrap-select.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/apppolicy/sharemanage/sharemanage.js(path=${contextPath})}"></script>
</div>

<!--   应用流量分析     -->
<div id = 'appTraffic'>
    <!--<script th:src="@{{path}/static/js/plugins/layer/laydate/laydate.js(path=${contextPath})}"></script>-->
    <script th:src="@{{path}/static/js/plugins/layer/laydatev5/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/echarts.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/userbehavioranalysis/apptraffic/appTraffic.js(path=${contextPath})}"></script>
</div>




<!--   idc流量分析     -->
<div id = 'idcTraffic'>
    <!--<script th:src="@{{path}/static/js/plugins/layer/laydate/laydate.js(path=${contextPath})}"></script>-->
    <script th:src="@{{path}/static/js/plugins/layer/laydatev5/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/echarts.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/userbehavioranalysis/idctraffic/idcTraffic.js(path=${contextPath})}"></script>
</div>

<!--   应用流量流向分析     -->
<div id = 'traffic'>
    <script th:src="@{{path}/static/js/echarts.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/analysis/apptraffic/traffic.js(path=${contextPath})}"></script>
        <script th:src="@{{path}/static/js/plugins/layer/laydatev5/laydate.js(path=${contextPath})}"></script>
</div>

<!--   1拖N     -->
<div id = 'share'>
    <script th:src="@{{path}/static/js/plugins/layer/laydatev5/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/analysis/share/share.js(path=${contextPath})}"></script>
</div>
<!--   假接入真互联分析    -->
<div id = 'idcshare'>
    <script th:src="@{{path}/static/js/plugins/layer/laydatev5/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/analysis/share/idcshare.js(path=${contextPath})}"></script>
</div>

<!--   区域设置    -->
<div id = 'areamanage'>
    <script th:src="@{{path}/static/js/plugins/layer/laydate/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/echarts.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/system/areamanage/areamanage.js(path=${contextPath})}"></script>
</div>

<!--   用户登录     -->
<div id = 'login'>
    <script th:src="@{{path}/static/js/login.js(path=${contextPath})}"></script>
</div>

<!--   web应用站点分析    -->
<div id = 'webAppSite'>
    <script th:src="@{{path}/static/js/plugins/layer/laydatev5/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/echarts.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/userbehavioranalysis/webappsite/webAppSite.js(path=${contextPath})}"></script>
</div>

<!--   指定应用访问用户分析     -->
<div id = 'appuser'>
    <script th:src="@{{path}/static/js/plugins/layer/laydatev5/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/echarts.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/analysis/appuser/appuser.js(path=${contextPath})}"></script>
</div>

<!--   非法路由用户分析     -->
<div id = 'illegalroute'>
    <script th:src="@{{path}/static/js/plugins/layer/laydatev5/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/echarts.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/analysis/illegalroute/illegalroute.js(path=${contextPath})}"></script>
</div>

<!--   网站流量分析    -->
<div id = 'webFlowAnalysis'>
    <script th:src="@{{path}/static/js/plugins/layer/laydatev5/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/echarts.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/userbehavioranalysis/webflowanalysis/webFlowAnalysis.js(path=${contextPath})}"></script>
</div>


<!--   Ddos异常流量分析    -->
<div id = 'ddosIrregularAttack'>
    <script th:src="@{{path}/static/js/plugins/moment.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/plugins/layer/laydate/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/echarts.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/userbehavioranalysis/ddosirregular/ddosIrregularAttack.js(path=${contextPath})}"></script>
</div>

<!--   WLAN终端分析     -->
<div id = 'wlan'>
    <script th:src="@{{path}/static/js/plugins/layer/laydatev5/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/echarts.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/analysis/wlan/wlan.js(path=${contextPath})}"></script>
</div>

<!--   首页     -->
<div id = 'indexpage'>
    <script th:src="@{{path}/static/js/echarts.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/indexpage/indexpage.js(path=${contextPath})}"></script>
</div>

<!--   首页     -->
<div id = 'softwareprovidermanage'>
    <script th:src="@{{path}/static/js/echarts.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/system/softwareprovidermanage/softwareprovidermanage.js(path=${contextPath})}"></script>
</div>

<!--   首页     -->
<div id = 'dpiupgrade'>
    <script th:src="@{{path}/static/js/plugins/layer/laydatev5/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/echarts.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/devicemanage/dpiupgrade/dpiupgrade.js(path=${contextPath})}"></script>
</div>