<div th:fragment="rolePermission">
    <input type="hidden" id="zf104001_query" th:value="${session.zf104001_query}" />
    <input type="hidden" id="zf104001_redo" th:value="${session.zf104001_redo}" />
    <input type="hidden" id="zf104001_modify" th:value="${session.zf104001_modify}" />
    <input type="hidden" id="zf104001_delete" th:value="${session.zf104001_delete}" />

    <input type="hidden" id="zf104002_redo" th:value="${session.zf104002_redo}" />

    <input type="hidden" id="zf104003_redo" th:value="${session.zf104003_redo}" />

    <input type="hidden" id="zf104004_redo" th:value="${session.zf104004_redo}" />

    <input type="hidden" id="zf104005_redo" th:value="${session.zf104005_redo}" />
    <input type="hidden" id="zf104005_modify" th:value="${session.zf104005_modify}" />
    <input type="hidden" id="zf104005_delete" th:value="${session.zf104005_delete}" />

    <input type="hidden" id="zf104006_export" th:value="${session.zf104006_export}" />


    <input type="hidden" id="zf501002_add" th:value="${session.zf501002_add}" />
    <input type="hidden" id="zf501002_modify" th:value="${session.zf501002_modify}" />
    <input type="hidden" id="zf501002_delete" th:value="${session.zf501002_delete}" />
    <input type="hidden" id="zf501002_set" th:value="${session.zf501002_set}" />
</div>