<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="/common/header :: myheader" th:with="title='shb'"></head>
<body class="gray-bg">
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <div class="text-right">
            <form role="form" class="form-inline" id="searchForm">
                <div class="form-group m-r-sm">
                    <label>部署站点名称</label>
                    <input type="text" class="form-control" id="deploysitename"/>
                </div>
                 <div class="form-group m-r-sm">
                    <label>设备部署位置</label>
                    <input type="text" class="form-control" id="idcHouseid"/>
                </div>
                <div class="checkbox">
                	<input type="hidden" id="queryFlag" th:value="${session.zf301002_query}">
                    <button type="button" th:if="${session.zf301002_query}==1" class="btn btn-primary" id="searchFormButton" >查询</button>
                    <button id="setFormButton" th:if="${session.zf301002_modify}==1" value="0" type="button" class="btn btn-success" data-toggle="modal" data-target="#myModaladd"> 上报周期设置</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeinright">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox ">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- example toolbar -->
                            <div class="example-wrap text-right">
                                <div class="example">
                                    <div class="hidden-xs" id="table-toolbar" role="group">
					                    
					                 </div>
                                        <table id="table" data-mobile-responsive="true" class="text-left"></table>
                                </div>
                            </div>
                            <!-- end example toolbar -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--新增页面-->
<div th:include="/devicemanage/dpiStatic/setpolicy :: mysetpolicy"></div>
<!--详情页面 -->
<div th:include="/devicemanage/dpiStatic/detail :: mydetail"></div>

<!--js snippet-->
<div th:include="/common/footer :: myfooter"></div>
<div th:include="/common/footer :: #dpiStatic"></div>
</body>
</html>