<div th:fragment="mysetpolicy">
    <div class="modal inmodal fade" id="myModaladd" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" >
            <div class="modal-content" >
                <div class="ibox-title">
                    <h5 class="modal-title">静态信息-上报周期设置</h5>
                </div>
                <div class="modal-body form-horizontal">
                    <div class="row">
                        <div class="col-sm-12">
                            <form id="saveOrUpdate"> 
                                                      
                                <div class="form-group" >
                                    <label class="col-md-2 control-label p-n"> <span class="text-danger">* </span>静态信息上报周期</label>
                                    <div class="col-md-3">
                                        <select id="rFreq" class="form-control">
                                       	    <option value="-1" selected>请选择</option>
                                            <option value="0">即时上报</option>
                                            <option value="1">每5分钟上报</option>
                                            <option value="2">每1小时整点上报 </option>
                                            <option value="3">每3小时整点上报</option>
                                            <option value="4">每天0点上报</option>
                                        </select>
                                    </div>
                                    <div class="col-md-7"><span class="help-block m-b-none tips" id="statictips" style="color: #f00">
                               		 </div>
                                 </div>                                 
                              
                                  <div class="hr-line-dashed"></div>
                                
		                            <div class="form-group m-t">
		                                <label class="col-md-1 control-label"></label>
		                                <div class="col-md-3">
		                                    <input id="messageNo" type="hidden" />
		                                    <button type="button" class="btn btn-primary" id = "submitBut">保存</button>
		                                    <button type="button" class="btn btn-white m-l-sm" data-dismiss="modal">关闭</button>
		                                </div>
		                            </div> 
                             </form>
                          </div>
						</div>  
                   
                </div>
            </div>
        </div>
    </div>
</div>