<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aotain.zongfen.mapper.apppolicy.AppUserMapper">

    <resultMap id="BaseResultListMap" type="com.aotain.zongfen.dto.apppolicy.FlowManagerDTO">
        <result column="APPFLOW_ID" jdbcType="BIGINT" property="appFlowId" />
        <result column="MESSAGE_NO" jdbcType="DECIMAL" property="messageNo" />
        <result column="MESSAGE_NAME" jdbcType="VARCHAR" property="messageName" />
        <result column="MESSAGE_TYPE" jdbcType="DECIMAL" property="messageType" />
        <result column="APPTYPE" jdbcType="DECIMAL" property="apptype" />
        <result column="APPID" jdbcType="DECIMAL" property="appid" />
        <result column="APPNAME" jdbcType="VARCHAR" property="appname" />
        <result column="APP_THRESHOLD_UP_ABS" jdbcType="BIGINT" property="appThresholdUpAbs" />
        <result column="APP_THRESHOLD_DN_ABS" jdbcType="BIGINT" property="appThresholdDnAbs" />
        <result column="R_STARTTIME" jdbcType="DECIMAL" property="rStarttime" />
        <result column="R_ENDTIME" jdbcType="DECIMAL" property="rEndtime" />
        <result column="C_TIME" jdbcType="BIGINT" property="cTime" />
        <result column="OPERATE_TYPE" jdbcType="DECIMAL" property="operateType" />
        <result column="CREATE_OPER" jdbcType="VARCHAR" property="createOper" />
        <result column="MODIFY_OPER" jdbcType="VARCHAR" property="modifyOper" />
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
        <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
        <result column="USER_TYPE" jdbcType="DECIMAL" property="userType" />
        <collection property="userName" ofType="java.lang.String" select="selectUserNames" column="{id=APPFLOW_ID}"  >
            <result column="USER_NAME" jdbcType="VARCHAR"  />
        </collection>

        <collection property="puserGroup" ofType="java.lang.Long" select="selectUserGroups" column="{id=APPFLOW_ID}" >
            <result column="USER_GROUP_ID" jdbcType="DECIMAL" />
        </collection>

    </resultMap>

    <sql id="Base_Column_List">

        a.R_STARTTIME AS rStartTime,
        a.R_ENDTIME AS rEndTime,
        a.appType AS appType,
        a.appId AS appId,
        a.USERTYPE AS userType,
        a.APPName AS appName,
        a.MESSAGE_NO AS messageNo,

        b.MESSAGE_NAME AS messageName,
        b.MODIFY_TIME AS modifyTime,
        b.CREATE_TIME AS createTime,
        b.CREATE_OPER AS createOper,
        b.MODIFY_OPER AS modifyOper,
        b.OPERATE_TYPE AS operationType

    </sql>

    <sql id="Base_Column">

        a.R_STARTTIME AS rStartTime,
        a.R_ENDTIME AS rEndTime,
        a.appType AS appType,
        a.appId AS appId,
        a.USERTYPE AS userType,
        a.APPName AS appName,
        a.MESSAGE_NO AS messageNo,

        b.MESSAGE_NAME AS messageName,
        b.MODIFY_TIME AS modifyTime,
        b.CREATE_TIME AS createTime,
        b.CREATE_OPER AS createOper,
        b.MODIFY_OPER AS modifyOper,
        b.OPERATE_TYPE AS operationType

    </sql>

    <select id="selectByPrimaryKey" parameterType="com.aotain.common.policyapi.model.AppUserStrategy"
            resultType="com.aotain.common.policyapi.model.AppUserStrategy">
        SELECT
        <include refid="Base_Column"/>
        from
        ZF_V2_POLICY_APPUSER a
        INNER JOIN
        zf_v2_policy_messageno b ON a.MESSAGE_NO = b.MESSAGE_NO
        AND b.MESSAGE_TYPE = 8 AND b.OPERATE_TYPE in (1,2)
        WHERE b.MESSAGE_NO = #{messageNo}
    </select>

    <select id="listData" parameterType="map"
            resultType="com.aotain.common.policyapi.model.AppUserStrategy">
        SELECT
            <include refid="Base_Column_List"/>,
            c.APP_TYPE_NAME AS appTypeName
        from
          ZF_V2_POLICY_APPUSER a
        INNER JOIN
          zf_v2_policy_messageno b ON a.MESSAGE_NO = b.MESSAGE_NO
          AND b.MESSAGE_TYPE = 8 AND b.OPERATE_TYPE in (1,2)
        INNER JOIN
          zf_dict_apptype c ON a.APPTYPE=c.APP_TYPE
        WHERE b.OPERATE_TYPE != 3
        <if test="messageName!=null and messageName!='' ">
            AND b.message_name like CONCAT('%',#{messageName},'%')
        </if>
        <if test="searchStartTime!=null">
            AND b.CREATE_TIME &gt;= #{searchStartTime}
        </if>
        <if test="searchEndTime!=null">
            AND b.CREATE_TIME &lt; #{searchEndTime}
        </if>
        order by a.MESSAGE_NO desc
    </select>

    <!--<select id="listData"
            resultMap="com.aotain.common.policyapi.model.AppUserStrategy">
        SELECT
        <include refid="Base_Column_List"/>
        from
        ZF_V2_POLICY_APPUSER a
        INNER JOIN
        zf_v2_policy_messageno b ON a.MESSAGE_NO = b.MESSAGE_NO
        AND b.MESSAGE_TYPE = 8 AND b.OPERATE_TYPE in (1,2)

    </select>-->

    <delete id="batchDelete" parameterType="java.util.List" >
        delete from ZF_V2_POLICY_APPUSER
        where MESSAGE_NO in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteByPrimaryKey" parameterType="long">
        DELETE from ZF_V2_POLICY_APPUSER
        WHERE MESSAGE_NO = #{messageNo}
    </delete>

    <insert id="insertSelective" parameterType="com.aotain.common.policyapi.model.AppUserStrategy">
        insert into ZF_V2_POLICY_APPUSER
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="messageNo != null">
                MESSAGE_NO,
            </if>
            <if test="countStartTime != null">
                R_STARTTIME,
            </if>
            <if test="countEndTime != null">
                R_ENDTIME,
            </if>
            <if test="appType != null">
                APPTYPE,
            </if>
            <if test="appId != null">
                APPID,
            </if>
            <if test="appName != null">
                APPNAME,
            </if>
            <if test="userType != null">
                USERTYPE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">

            <if test="messageNo != null">
                #{messageNo,jdbcType=DECIMAL},
            </if>
            <if test="countStartTime != null">
                #{countStartTime,jdbcType=DECIMAL},
            </if>
            <if test="countEndTime != null">
                #{countEndTime,jdbcType=DECIMAL},
            </if>
            <if test="appType != null">
                #{appType,jdbcType=DECIMAL},
            </if>
            <if test="appId != null">
                #{appId,jdbcType=DECIMAL},
            </if>
            <if test="appName != null">
                #{appName,jdbcType=VARCHAR},
            </if>
            <if test="userType != null">
                #{userType,jdbcType=DECIMAL},
            </if>

        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.aotain.common.policyapi.model.AppUserStrategy">
        update ZF_V2_POLICY_APPUSER
        <set>
            <if test="countStartTime != null">
                R_STARTTIME = #{countStartTime,jdbcType=DECIMAL},
            </if>
            <if test="countEndTime != null">
                R_ENDTIME = #{countEndTime,jdbcType=DECIMAL},
            </if>
            <if test="appType != null">
                APPTYPE = #{appType,jdbcType=DECIMAL},
            </if>
            <if test="appId != null">
                APPID = #{appId,jdbcType=DECIMAL},
            </if>
            <if test="appName != null">
                APPNAME = #{appName,jdbcType=VARCHAR},
            </if>
            <if test="userType != null">
                USERTYPE = #{userType,jdbcType=DECIMAL},
            </if>
        </set>
        where MESSAGE_NO = #{messageNo,jdbcType=DECIMAL}
    </update>


    <select id="selectUserNames" parameterType="java.util.Map" resultType="String">
        SELECT USER_NAME FROM zf_v2_appflow_manage_usergroup WHERE APPFLOW_ID=#{id}
    </select>

    <select id="selectUserGroups" parameterType="java.util.Map" resultType="Long">
        SELECT USER_GROUP_ID FROM zf_v2_appflow_manage_usergroup WHERE APPFLOW_ID=#{id}
    </select>

</mapper>