<!--详情-->
<div th:fragment="mydetailsnippet">
    <!--详情-->
    <div class="modal inmodal fade" id="details" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                    <h4 class="modal-title">详情</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="text-right" id = "ActButtons">
                                <form role="form" class="form-inline" id="detailForm">
                                    <input type="hidden" name="messageNo"/>
                                    <div class="checkbox">
                                        <button class="btn btn-outline btn-primary" type="button"><i class="fa fa-repeat"></i> 重发</button>
                                    </div>
                                    <div class="checkbox">
                                        <button class="btn btn-outline btn-info" type="button"><i class="fa fa-refresh"></i> 刷新</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <!-- Example Toolbar -->
                            <div class="example-wrap text-right">
                                <div class="example">
                                    <table id="detailTable" data-mobile-responsive="true" class="text-left">
                                    </table>
                                </div>
                            </div>
                            <!-- End Example Toolbar -->
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>