<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aotain.zongfen.mapper.monitor.HttpGetMonitorDetailMapper">
  <resultMap id="HttpGetMonitorDetailMap" type="com.aotain.zongfen.dto.monitor.HttpGetMonitorDetailDTO">
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="upload_ip" jdbcType="VARCHAR" property="uploadIp" />
    <result column="received_ip" jdbcType="VARCHAR" property="receivedIp" />
    <result column="dpi_ip" jdbcType="VARCHAR" property="dpiIp" />
    <result column="probe_type" jdbcType="TINYINT" property="probeType" />
    <result column="area_id" jdbcType="VARCHAR" property="areaId" />  
    <result column="filecreate_time" jdbcType="VARCHAR" property="filecreateTime" />
    <result column="filereceived_time" jdbcType="VARCHAR" property="filereceivedTime" />
    <result column="fileupload_time" jdbcType="VARCHAR" property="fileuploadTime" />  
    <result column="file_size" jdbcType="BIGINT" property="fileSize" />
    <result column="software_provider" jdbcType="VARCHAR" property="softwareProvider" />
  </resultMap>
  
  <select id="selectList" parameterType="com.aotain.zongfen.dto.monitor.HttpGetMonitorDetailDTO" resultMap="HttpGetMonitorDetailMap">
  SELECT a.file_name,
	b.server_ip AS received_ip,b.dpi_ip,a.server_ip AS upload_ip,
	FROM_UNIXTIME(b.filecreate_time,'%Y-%m-%d %H:%i:%S') AS filecreate_time,
	FROM_UNIXTIME(b.filereceived_time,'%Y-%m-%d %H:%i:%S') AS filereceived_time,
	FROM_UNIXTIME(a.fileupload_time,'%Y-%m-%d %H:%i:%S') AS fileupload_time,
	a.file_size,a.probe_type,a.area_id
	FROM zf_v2_monitor_uploaddfile_detail a
	LEFT JOIN zf_v2_monitor_receivedfile_detail b ON b.file_name=a.file_name AND b.probe_type=a.probe_type
	AND b.area_id = a.area_id 
	WHERE a.file_type = 768 and b.file_type = 768
	 <if test="probeType != null">
	     AND a.probe_type = #{probeType,jdbcType=TINYINT} 
	 </if>
	 <if test="areaId != null and areaId != '' ">
	     AND a.area_id = #{areaId,jdbcType=VARCHAR} 
	 </if>
	 <if test="softwareProvider != null and softwareProvider != '' ">
	     AND a.software_provider = #{softwareProvider,jdbcType=VARCHAR}
	 </if>
	 <if test="startTime != null and startTime &gt; 0 ">
	    AND a.fileupload_time &gt;= (#{startTime,jdbcType=BIGINT})
	 </if>
	 <if test="endTime != null and endTime &gt; 0 ">
	    AND a.fileupload_time &lt; (#{endTime,jdbcType=BIGINT})
	 </if>
  </select>
 
</mapper>