<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aotain.zongfen.mapper.monitor.RadiusMonitorMapper">
    
    <select id="getRadiusList" parameterType="com.aotain.zongfen.dto.monitor.RadiusMonitorDTO" resultType="com.aotain.zongfen.dto.monitor.RadiusMonitorDTO">
        SELECT
        <choose>
            <when test="dateType==3">
                FROM_UNIXTIME(a.stat_time,'%Y-%m-%d') as statTime,
            </when>
            <when test="dateType==2">
                FROM_UNIXTIME(a.stat_time,'%Y-%m-%d %H') as statTime,
            </when>
            <otherwise>
                FROM_UNIXTIME(a.stat_time,'%Y-%m-%d %H:%i') as statTime,
            </otherwise>
        </choose>
        a.capturepacketnum AS capturepacketnum,
        a.invalidpacketnum AS invalidpacketnum,
        b.sendnum AS sendnumRedirect,
        c.`sendnum` AS sendnumPolicy,
        d.`file_type` AS fileType,
        d.`file_num` AS fileNumCreate,
        round(d.file_size/1024,2) AS fileSizeCreate
        FROM
        <choose>
            <when test="dateType==3">
                zf_v2_monitor_radius_pcap_d a
                LEFT JOIN zf_v2_monitor_radius_relay_d b
                ON a.`stat_time` = b.`stat_time`
                LEFT JOIN zf_v2_monitor_radius_policy_d c
                ON a.`stat_time` = c.stat_time
                LEFT JOIN zf_v2_monitor_createfile_d d
                ON a.`stat_time` = d.stat_time AND d.file_type =1023
            </when>
            <when test="dateType==2">
                zf_v2_monitor_radius_pcap_h a
                LEFT JOIN zf_v2_monitor_radius_relay_h b
                ON a.`stat_time` = b.`stat_time`
                LEFT JOIN zf_v2_monitor_radius_policy_h c
                ON a.`stat_time` = c.stat_time
                LEFT JOIN zf_v2_monitor_createfile_h d
                ON a.`stat_time` = d.stat_time AND d.file_type =1023
            </when>
            <otherwise>
                zf_v2_monitor_radius_pcap_min a
                LEFT JOIN zf_v2_monitor_radius_relay_min b
                ON a.`stat_time` = b.`stat_time`
                LEFT JOIN zf_v2_monitor_radius_policy_min c
                ON a.`stat_time` = c.stat_time
                LEFT JOIN zf_v2_monitor_createfile_min d
                ON a.`stat_time` = d.stat_time AND d.file_type =1023
            </otherwise>
        </choose>
        WHERE 1=1
        <if test="startTime!=null">
            AND a.stat_time &gt;= UNIX_TIMESTAMP(#{startTime})
        </if>
        <if test="endTime!=null">
            AND a.stat_time &lt;= UNIX_TIMESTAMP(CONCAT(#{endTime}, ' 23:59:59'))
        </if>
        ORDER BY a.stat_time DESC
    </select>
    
    <select id="getRadiusCreateEcharts" parameterType="com.aotain.zongfen.dto.monitor.RadiusMonitorDTO" resultType="com.aotain.zongfen.dto.monitor.RadiusMonitorDTO" >
        SELECT
        <choose>
            <when test="dateType==3">
                FROM_UNIXTIME(d.stat_time,'%Y-%m-%d') as statTime,
            </when>
            <when test="dateType==2">
                FROM_UNIXTIME(d.stat_time,'%m-%d %H') as statTime,
            </when>
            <otherwise>
                FROM_UNIXTIME(d.stat_time,'%m-%d %H:%i') as statTime,
            </otherwise>
        </choose>
        d.file_num AS fileNumCreate ,
        d.file_size as fileSizeCreate
        FROM
        <choose>
            <when test="dateType==3">
                zf_v2_monitor_createfile_d d
            </when>
            <when test="dateType==2">
                zf_v2_monitor_createfile_h d
            </when>
            <otherwise>
                zf_v2_monitor_createfile_min d
            </otherwise>
        </choose>
        WHERE d.file_type = 1023
        <if test="startTime!=null">
            AND d.stat_time &gt;= UNIX_TIMESTAMP(#{startTime})
        </if>
        <if test="endTime!=null">
            AND d.stat_time &lt;= UNIX_TIMESTAMP(CONCAT(#{endTime}, ' 23:59:59'))
        </if>
        ORDER BY statTime ASC
    </select>
    
    <select id="getRadiusPcapEcharts" parameterType="com.aotain.zongfen.dto.monitor.RadiusMonitorDTO" resultType="com.aotain.zongfen.dto.monitor.RadiusMonitorDTO" >
        SELECT
        <choose>
            <when test="dateType==3">
                FROM_UNIXTIME(d.stat_time,'%Y-%m-%d') as statTime,
            </when>
            <when test="dateType==2">
                FROM_UNIXTIME(d.stat_time,'%m-%d %H') as statTime,
            </when>
            <otherwise>
                FROM_UNIXTIME(d.stat_time,'%m-%d %H:%i') as statTime,
            </otherwise>
        </choose>
        d.capturepacketnum AS capturepacketnum ,
        d.invalidpacketnum as invalidpacketnum
        FROM
        <choose>
            <when test="dateType==3">
                zf_v2_monitor_radius_pcap_d d
            </when>
            <when test="dateType==2">
                zf_v2_monitor_radius_pcap_h d
            </when>
            <otherwise>
                zf_v2_monitor_radius_pcap_min d
            </otherwise>
        </choose>
        WHERE 1=1
        <if test="startTime!=null">
            AND d.stat_time &gt;= UNIX_TIMESTAMP(#{startTime})
        </if>
        <if test="endTime!=null">
            AND d.stat_time &lt;= UNIX_TIMESTAMP(CONCAT(#{endTime}, ' 23:59:59'))
        </if>
        ORDER BY d.stat_time ASC
    </select>
    
    <select id="getRadiusRelayEcharts" parameterType="com.aotain.zongfen.dto.monitor.RadiusMonitorDTO" resultType="com.aotain.zongfen.dto.monitor.RadiusMonitorDTO" >
        SELECT
        <choose>
            <when test="dateType==3">
                FROM_UNIXTIME(d.stat_time,'%Y-%m-%d') as statTime,
            </when>
            <when test="dateType==2">
                FROM_UNIXTIME(d.stat_time,'%m-%d %H') as statTime,
            </when>
            <otherwise>
                FROM_UNIXTIME(d.stat_time,'%m-%d %H:%i') as statTime,
            </otherwise>
        </choose>
        d.receivednum as receivednum,
        d.parsefailednum as parsefailednum ,
        d.sendnum AS sendnumRedirect ,
        d.sendfailednum as sendfailednumRedirect
        FROM
        <choose>
            <when test="dateType==3">
                zf_v2_monitor_radius_relay_d d
            </when>
            <when test="dateType==2">
                zf_v2_monitor_radius_relay_h d
            </when>
            <otherwise>
                zf_v2_monitor_radius_relay_min d
            </otherwise>
        </choose>
        WHERE 1=1
        <if test="startTime!=null">
            AND d.stat_time &gt;= UNIX_TIMESTAMP(#{startTime})
        </if>
        <if test="endTime!=null">
            AND d.stat_time &lt;= UNIX_TIMESTAMP(CONCAT(#{endTime}, ' 23:59:59'))
        </if>
        ORDER BY d.stat_time ASC
    </select>
    
    <select id="getRadiusPolicyEcharts" parameterType="com.aotain.zongfen.dto.monitor.RadiusMonitorDTO" resultType="com.aotain.zongfen.dto.monitor.RadiusMonitorDTO" >
        SELECT
        <choose>
            <when test="dateType==3">
                FROM_UNIXTIME(d.stat_time,'%Y-%m-%d') as statTime,
            </when>
            <when test="dateType==2">
                FROM_UNIXTIME(d.stat_time,'%m-%d %H') as statTime,
            </when>
            <otherwise>
                FROM_UNIXTIME(d.stat_time,'%m-%d %H:%i') as statTime,
            </otherwise>
        </choose>
        d.sendnum AS sendnumPolicy ,
        d.sendfailednum as sendfailednumPolicy
        FROM
        <choose>
            <when test="dateType==3">
                zf_v2_monitor_radius_policy_d d
            </when>
            <when test="dateType==2">
                zf_v2_monitor_radius_policy_h d
            </when>
            <otherwise>
                zf_v2_monitor_radius_policy_min d
            </otherwise>
        </choose>
        WHERE 1=1
        <if test="startTime!=null">
            AND d.stat_time &gt;= UNIX_TIMESTAMP(#{startTime})
        </if>
        <if test="endTime!=null">
            AND d.stat_time &lt;= UNIX_TIMESTAMP(CONCAT(#{endTime}, ' 23:59:59'))
        </if>
        ORDER BY d.stat_time ASC
    </select>
    
    
    <select id="getOnlineuserList" parameterType="com.aotain.zongfen.dto.monitor.MonitorOnlineuserDetailDTO" resultType="com.aotain.zongfen.dto.monitor.MonitorOnlineuserDetailDTO">

        select from_unixtime(stat_time,'%Y-%m-%d %H:%i') as stat_time, server_ip, stat_type, onlineusernum as onlineusernum, create_time
        from zf_v2_monitor_onlineuser_detail
        where stat_time &gt;= UNIX_TIMESTAMP(#{startTime})
        and stat_time &lt;= UNIX_TIMESTAMP(#{endTime})
        and stat_type = #{statType,jdbcType=TINYINT}
        ORDER BY stat_time DESC
    </select>

    <select id="getOnlineuserEchartsData" parameterType="com.aotain.zongfen.dto.monitor.MonitorOnlineuserDetailDTO" resultType="com.aotain.zongfen.dto.monitor.MonitorOnlineuserDetailDTO" >

        select from_unixtime(stat_time,'%Y-%m-%d %H:%i') as stat_time, server_ip, stat_type,onlineusernum as onlineusernum, create_time
        from zf_v2_monitor_onlineuser_detail
        where stat_time &gt;= UNIX_TIMESTAMP(#{startTime})
        and stat_time &lt;= UNIX_TIMESTAMP(#{endTime})
        and stat_type = #{statType,jdbcType=TINYINT}
        ORDER BY stat_time ASC
    </select>

    <select id="getFileSecondDetail" parameterType="java.util.HashMap" resultType="java.util.HashMap" >
        select
        <choose>
            <when test="dateType==3">
                from_unixtime(stat_time,'%Y-%m-%d') as stat_time,
            </when>
            <when test="dateType==2">
                from_unixtime(stat_time,'%Y-%m-%d %H') as stat_time,
            </when>
            <otherwise>
                from_unixtime(stat_time,'%Y-%m-%d %H:%i') as stat_time,
            </otherwise>
        </choose>
        SUM(d.file_size) as file_size,
        SUM(d.file_num) as file_num
        from
        <choose>
            <when test="dateType==3">
                zf_v2_monitor_createfile_d d
            </when>
            <when test="dateType==2">
                zf_v2_monitor_createfile_h d
            </when>
            <otherwise>
                zf_v2_monitor_createfile_min d
            </otherwise>
        </choose>
        where stat_time &gt;= UNIX_TIMESTAMP(#{startTime})
        <choose>
            <when test="dateType==3">
                and stat_time &lt;= UNIX_TIMESTAMP(CONCAT(#{endTime}, ' 23:59:59'))
            </when>
            <when test="dateType==2">
                and stat_time &lt;= UNIX_TIMESTAMP(CONCAT(#{endTime}, ' 23:59:59'))
            </when>
            <otherwise>
                and stat_time &lt;= UNIX_TIMESTAMP(CONCAT(#{endTime}, ' 23:59:59'))
            </otherwise>
        </choose>
        and file_type = 1023 GROUP BY stat_time
        ORDER BY stat_time DESC
    </select>
    <select id="getWarnFileSecondCount" parameterType="java.util.HashMap" resultType="java.util.HashMap" >
        SELECT * FROM (
        SELECT
        #{startTime} as startTime,
        SUM(CASE
        WHEN u.file_name IS NULL
        THEN 1
        WHEN u.fileupload_time-t.file_time>= #{timeout}
        THEN 1
        ELSE 0
        END)
        as warn_type
        FROM
        zf_v2_monitor_createfile_detail t
        LEFT JOIN zf_v2_monitor_uploaddfile_detail u
        ON t.file_name = u.file_name
        AND t.file_type = u.file_type
        WHERE t.file_time &gt;= #{startTime}
        AND t.file_time &lt; #{endTime}
        AND t.file_type =#{fileType}
        GROUP BY startTime
        )A WHERE warn_type != 0
    </select>

    <select id="getFileThirdDetail" parameterType="java.util.HashMap" resultType="java.util.HashMap" >
        SELECT
        t.file_name ,
        round(t.file_size/1024,2) as cfileSize,
        round(u.file_size/1024,2) as ufileSize,
        u.server_ip,
        FROM_UNIXTIME(t.file_time,'%Y-%m-%d %H:%i:%s') as cfileTime,
        FROM_UNIXTIME(u.fileupload_time,'%Y-%m-%d %H:%i:%s') as ufileTime,
        CASE
        WHEN u.file_name IS NULL
        THEN 1
        WHEN u.fileupload_time-t.file_time>= #{timeout}
        THEN 1
        ELSE 0
        END
        as warn_type
        FROM
        zf_v2_monitor_createfile_detail t
        LEFT JOIN zf_v2_monitor_uploaddfile_detail u
        ON t.file_name = u.file_name
        AND t.file_type = u.file_type
        WHERE t.file_time &gt;= #{startTime}
        AND t.file_time &lt; #{endTime}
        AND t.file_type =#{fileType}
        <choose>
            <when test='order != null'>
                ORDER BY cfileTime ${order}
            </when>
            <otherwise>
                ORDER BY cfileTime desc
            </otherwise>
        </choose>
    </select>

    <select id="getWarnFileThirdDetail" parameterType="java.util.HashMap" resultType="java.util.HashMap" >
        SELECT * FROM (SELECT
        t.file_name ,
        round(t.file_size/1024,2) as cfileSize,
        round(u.file_size/1024,2) as ufileSize,
        u.server_ip,
        FROM_UNIXTIME(t.file_time,'%Y-%m-%d %H:%i:%s') as cfileTime,
        FROM_UNIXTIME(u.fileupload_time,'%Y-%m-%d %H:%i:%s') as ufileTime,
        CASE
        WHEN u.file_name IS NULL
        THEN 1
        WHEN u.fileupload_time-t.file_time>= #{timeout}
        THEN 1
        ELSE 0
        END
        as warn_type
        FROM
        zf_v2_monitor_createfile_detail t
        LEFT JOIN zf_v2_monitor_uploaddfile_detail u
        ON t.file_name = u.file_name
        AND t.file_type = u.file_type
        WHERE t.file_time &gt;= #{startTime}
        AND t.file_time &lt; #{endTime}
        AND t.file_type =#{fileType}
        <choose>
            <when test='order != null'>
                ORDER BY cfileTime ${order}
            </when>
            <otherwise>
                ORDER BY cfileTime desc
            </otherwise>
        </choose>
        ) A WHERE warn_type != 0
    </select>

    <select id="getRadiusRelaySecondDetail" parameterType="java.util.HashMap" resultType="java.util.HashMap" >
     SELECT
        <choose>
            <when test="dateType==3">
                from_unixtime(stat_time,'%Y-%m-%d') as stat_time,
            </when>
            <when test="dateType==2">
                from_unixtime(stat_time,'%Y-%m-%d %H') as stat_time,
            </when>
            <otherwise>
                from_unixtime(stat_time,'%Y-%m-%d %H:%i') as stat_time,
            </otherwise>
        </choose>
        SUM(sendnum) as sendnum,
        SUM(sendfailednum) as sendfailednum,
        SUM(receivednum) as receivednum,
        SUM(parsefailednum) as parsefailednum
      FROM
        <choose>
            <when test="dateType==3">
                zf_v2_monitor_radius_relay_d d
            </when>
            <when test="dateType==2">
                zf_v2_monitor_radius_relay_h d
            </when>
            <otherwise>
                zf_v2_monitor_radius_relay_min d
            </otherwise>
        </choose>
        where stat_time &gt;= UNIX_TIMESTAMP(#{startTime})
        and stat_time &lt;= UNIX_TIMESTAMP(CONCAT(#{endTime}, ' 23:59:59'))
        GROUP BY stat_time
        ORDER BY stat_time DESC
    </select>

    <!-- 中转包监控第三级详情-->
    <select id="getRelayThirdDetail" parameterType="java.util.HashMap" resultType="java.util.HashMap" >
        SELECT
        <choose>
            <when test="dateType==3">
                from_unixtime(stat_time,'%Y-%m-%d') as stat_time,
            </when>
            <when test="dateType==2">
                from_unixtime(stat_time,'%Y-%m-%d %H') as stat_time,
            </when>
            <otherwise>
                from_unixtime(stat_time,'%Y-%m-%d %H:%i') as stat_time,
            </otherwise>
        </choose>
        src_ip,
        sendnum,
        sendfailednum,
        receivednum,
        dst_ip,
        parsefailednum
        FROM
        zf_v2_monitor_radius_relay_detail

        WHERE stat_time &gt;= #{startTime}
        and stat_time &lt; #{endTime}
    </select>

    <!-- 采集包监控第三级详情-->
    <select id="getPcapThirdDetail" parameterType="java.util.HashMap" resultType="java.util.HashMap" >
        SELECT
        <choose>
            <when test="dateType==3">
                from_unixtime(stat_time,'%Y-%m-%d') as stat_time,
            </when>
            <when test="dateType==2">
                from_unixtime(stat_time,'%Y-%m-%d %H') as stat_time,
            </when>
            <otherwise>
                from_unixtime(stat_time,'%Y-%m-%d %H:%i') as stat_time,
            </otherwise>
        </choose>
        server_ip,
        capturepacketnum,
        invalidpacketnum
        FROM
        zf_v2_monitor_radius_pcap_detail
        WHERE stat_time &gt;= #{startTime}
        and stat_time &lt; #{endTime}
    </select>


    <select id="getRadiusPolicySecondDetail" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        select
        <choose>
            <when test="dateType==3">
                FROM_UNIXTIME(stat_time,'%Y-%m-%d') as stat_time,
            </when>
            <when test="dateType==2">
                FROM_UNIXTIME(stat_time,'%Y-%m-%d %H') as stat_time,
            </when>
            <otherwise>
                FROM_UNIXTIME(stat_time,'%Y-%m-%d %H:%i') as stat_time,
            </otherwise>
        </choose>
        SUM(sendnum) AS sendnum,
        SUM(sendfailednum) AS sendfailednum
        from
        <choose>
            <when test="dateType==3">
                zf_v2_monitor_radius_policy_d d
            </when>
            <when test="dateType==2">
                zf_v2_monitor_radius_policy_h d
            </when>
            <otherwise>
                zf_v2_monitor_radius_policy_min d
            </otherwise>
        </choose>

        where stat_time &gt;= UNIX_TIMESTAMP(#{startTime})
        AND stat_time &lt;= UNIX_TIMESTAMP(CONCAT(#{endTime}, ' 23:59:59'))
        GROUP BY stat_time
        ORDER BY stat_time DESC
    </select>

    <select id="getPolicyThirdDetail" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        select
        <choose>
            <when test="dateType==3">
                FROM_UNIXTIME(stat_time,'%Y-%m-%d') as stat_time,
            </when>
            <when test="dateType==2">
                FROM_UNIXTIME(stat_time,'%Y-%m-%d %H') as stat_time,
            </when>
            <otherwise>
                FROM_UNIXTIME(stat_time,'%Y-%m-%d %H:%i') as stat_time,
            </otherwise>
        </choose>
        sendnum,
        sendfailednum,
        src_ip,
        dst_ip
        from zf_v2_monitor_radius_policy_detail
        WHERE stat_time &gt;= #{startTime}
        AND stat_time &lt; #{endTime}
        ORDER BY stat_time DESC
    </select>
</mapper>