<div th:fragment="myaddorupdate">
    <div class="modal inmodal fade" id="myModaladd" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
<!--                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                    <h4 class="modal-title">新增</h4>
                </div>-->
                <div class="ibox-title">
                    <h5>新增</h5> </div>
                <div class="modal-body form-horizontal">
                    <div class="row">
                        <div class="col-sm-12">
                            <form id="addOrupdateForm" role="form">
                                <div class="form-group" id="nameMessage">
                                    <input type="hidden" id="messageNo" name="messageNo" class="form-control"/>
                                    <input type="hidden" id="ddosId" name="ddosId" class="form-control"/>
                                    <label class="col-md-1 control-label p-n">策略名称</label>
                                    <div class="col-md-3">
                                        <input type="text" name="messageName" id="messageName" class="form-control"/>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group" name="attackTypeInsert">
                                    <label class="col-md-1 control-label p-n">攻击类型</label>
                                    <div class="col-md-3">
                                        <select class="form-control" name="appAttackType">
                                            <option selected="" value="">请选择</option>
                                            <option value="1">ICMP Redirection</option>
                                            <option value="2">ICMP Unreacheble</option>
                                            <option value="3">TCP anomaly Connection</option>
                                            <option value="4">DNS Query Application Attack</option>
                                            <option value="5">DNS Reply Application Attack</option>
                                            <option value="6">SIP Application Attack</option>
                                            <option value="7">HTTPS Application Attack</option>
                                            <option value="8">HTTP Get Application Attack</option>
                                            <option value="9">Challenge Collapsar Attack</option>
                                        </select>
                                    </div>

                                    <div class="input-group col-md-2">
                                        <span class="input-group-addon">攻击阈值</span>
                                        <input type="text" class="form-control" name="attackThreshold">
                                        <span class="input-group-addon">(pps)</span>
                                    </div>
                                    <label class="col-sm-1 control-label p-n"></label>
                                    <div class="input-group col-md-2">
                                        <span class="input-group-addon">控制阈值</span>
                                        <input type="text" class="form-control" name="attackControl">
                                        <span class="input-group-addon">(pps)</span>
                                    </div>
                                    <label class="col-sm-1 control-label p-n"></label>

                                    <div class="circle-picture help-block m-b-none">
                                        <a href="#" class="fa fa-plus-circle text-green fa-lg"></a>
                                    </div>
                                </div>

                            </form>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group m-t">
                                <label class="col-md-1 control-label"></label>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-primary" id="addSubmitBut">确定</button>
                                    <button type="button" class="btn btn-white m-l-sm" data-dismiss="modal" id="adddismissBut">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>