<div th:fragment="appIdDetail">

    <div class="modal " id="appIdModal" tabindex="-1" role="dialog" >

        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-sm-12">
                <div class="text-right">
                    <form role="form" class="form-inline" id="searchForm3">

                        <!--<div class="form-group m-r-sm ">
                            <div class="btn-group" id="dateTypeSelect3">
                                <button class="btn btn-success btn-rounded" name="dateType3" value="1"  type="button">小时</button>
                                <button class="btn btn-white btn-rounded" name="dateType3" value="2"  type="button">日</button>
                                <button class="btn btn-white btn-rounded" name="dateType3" value="3" type="button">周</button>
                                <button class="btn btn-white btn-rounded" name="dateType3" value="4" type="button">月</button>
                            </div>
                        </div>-->
                        <div class="form-group m-r-sm" id="dateTypeSelect3">
                            <label>时间粒度</label>
                            <button name="dateType3" class="btn btn-sm btn-white btn-primary" type="button" value="1">按小时</button>
                            <button name="dateType3" class="btn btn-sm btn-success btn-primary" type="button" value="2">按天</button>
                            <button name="dateType3" class="btn btn-sm btn-white btn-primary" type="button" value="3">按周</button>
                            <button name="dateType3" class="btn btn-sm btn-white btn-primary" type="button" value="4">按月</button>
                        </div>
                        <div class="form-group m-r-sm ">
                            <label>地区</label>
                            <select id="areaId3" name="areaId" class="form-control" style="width:165px;">
                                <option value="1">贵州</option>
                                <option value="2">贵阳</option>
                            </select>
                        </div>

                        <div class="checkbox">
                            <button type="button"  class="btn btn-primary" id="searchFormButton3" >查询</button>
                            <button th:authorized="zf201001_export" type="button" id="exportButton3" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-download"></i> 导出  <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu exportHead" id="exportButton333">
                                <li data-export_type="0"><a href="#">EXCEL</a></li>
                                <li data-export_type="1"><a href="#">WORD</a></li>
                                <li data-export_type="2"><a href="#">PDF</a></li>
                            </ul>
                            <button class="btn btn-outline btn-link moreSearchCondition" type="button">更多条件查询</button>
                        </div>

                        <div class="text-left" th:name="moreSearchDiv">
                            <div class="form-group m-r-sm ">
                                <label>用户组</label>
                                <select id="userGroupNo3" name="userGroupNo" class="form-control" style="width:165px;">
                                    <option value="1">用户组1</option>
                                    <option value="2">用户组2</option>
                                </select>
                            </div>

                            <div class="form-group m-r-sm ">
                                <label>应用类别</label>
                                <select id="appType3" name="appType" class="form-control" style="width:165px;">
                                    <option value="1">全部</option>
                                    <option value="2">web视频</option>
                                </select>
                            </div>

                            <div class="form-group m-r-sm ">
                                <label>应用名称</label>
                                <select id="appId3" name="appId" class="form-control" style="width:165px;">
                                    <option value="1">搜狐视频</option>
                                    <option value="2">腾讯视频</option>
                                </select>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>

        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-sm-12">

                    <div class="pull-right">
                        <button type="button" class="btn btn-success" id="appIdDismissBtn" name="returnBtn"><i class="fa fa-reply-all"></i> 返回上一级</button>
                    </div>

                    <div class="example">
                        <div class="form-group" id="analysisType3" style="text-align:center">
                            <input  name="analysisType3"  checked="checked" value="1" id="flowAnalysis" type="radio">上下行流量分析</input>
                            <input  name="analysisType3"  value="2" id="userAnalysis" type="radio">用户数分析</input>
                            <input  name="analysisType3"  value="3" id="packetAnalysis" type="radio">报文数分析</input>
                            <input  name="analysisType3"  value="4" id="sessionAnalysis" type="radio">session数分析</input>
                        </div>
                        <div  id="appIdChart" style="height: 400px;border: 0;" ></div>
                        <table id="appIdDetailTable" data-mobile-responsive="true" class="text-left text-nowrap">
                        </table>

                    </div>


                </div>

            </div>
        </div>
    </div>
</div>

</div>