<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aotain.zongfen.mapper.useranalysis.DDoSAttackMapper">

    <sql id="baseColumn">

    </sql>

    <select id="getChartData" resultType="com.aotain.zongfen.model.useranalysis.DDoSUbas">
        select
          stat_time AS statTime,appattacktype AS appAttackType,sum(appattacktraffic) AS appAttackTraffic
        from zf_v2_ubas_ddos_d
        WHERE stat_time BETWEEN #{searchStart} and #{searchEnd}
        <if test="userGroupNo!=null and userGroupNo!=-1">
          AND pusergrougno = #{userGroupNo}
        </if>
        <if test="appAttackType!=null and appAttackType!=-1">
            AND appAttackType = #{appAttackType}
        </if>
        GROUP BY stat_time,appattacktype

    </select>
    <select id="loadExportTask" resultType="hashMap" parameterType="java.util.Map">
        select
        id
        ,file_name
        ,download_status
        ,export_status
        ,file_type
        from zf_v2_export_file_manage
        WHERE download_status = #{download_status}
        AND file_type = #{file_type}
        ORDER BY create_time DESC
    </select>

    <insert id="createExportTask" parameterType="java.util.Map">
        INSERT INTO zf_v2_export_file_manage (file_name,download_status,file_type,create_time,startTime,endTime,userGroupNo,appAttackType
        ,export_status
        )
        VALUES
        (#{file_name},#{download_status},#{file_type},#{create_time},#{startTime},#{endTime},#{userGroupNo},#{appAttackType}
        ,#{export_status}
        )
    </insert>

    <delete id="deleteExportTask" parameterType="java.util.Map">
        DELETE FROM zf_v2_export_file_manage WHERE id=#{id}
    </delete>
    <update id="updateDownloadFile" parameterType="java.util.Map">
        UPDATE zf_v2_export_file_manage SET download_status=1 WHERE id=#{id}
    </update>
</mapper>