<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aotain.zongfen.mapper.general.userbind.UserBindMapper">
  <resultMap id="BaseResultMap" type="com.aotain.zongfen.model.general.userbind.UserBindModel">
    <result column="MESSAGE_NO" jdbcType="DECIMAL" property="messageNo" />
    <result column="BIND_ID" jdbcType="DECIMAL" property="bindId" />
    <result column="USER_TYPE" jdbcType="DECIMAL" property="userType" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="BIND_MESSAGE_TYPE" jdbcType="DECIMAL" property="bindMessageType" />
    <result column="BIND_MESSAGE_NO" jdbcType="DECIMAL" property="bindMessageNo" />
    <result column="MESSAGE_NAME" jdbcType="VARCHAR" property="bindMessageName" />
	<result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <collection property="bindMessageName" ofType="java.lang.String" select="selectMessageName" column="{messageType=BIND_MESSAGE_TYPE,messsageNo=BIND_MESSAGE_NO}"  >
      <result column="MESSAGE_NAME" jdbcType="VARCHAR"  />
    </collection>
  </resultMap>

  <resultMap id="UserPolicyBindMap" type="com.aotain.common.policyapi.model.UserPolicyBindStrategy">
    <id column="BIND_ID" jdbcType="BIGINT" property="bindId" />
    <result column="MESSAGE_NO" jdbcType="DECIMAL" property="messageNo" />
    <result column="USER_TYPE" jdbcType="DECIMAL" property="userType" />
    <result column="USER_GROUP_ID" jdbcType="BIGINT" property="userGroupId" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="BIND_MESSAGE_TYPE" jdbcType="DECIMAL" property="userBindMessageType" />
    <result column="BIND_MESSAGE_NO" jdbcType="DECIMAL" property="userBindMessageNo" />
    <result column="MESSAGE_SEQUENCENO" jdbcType="DECIMAL" property="messageSequenceNo" />
    <result column="OPERATE_TYPE" jdbcType="DECIMAL" property="operationType" />
    <result column="CREATE_OPER" jdbcType="VARCHAR" property="createOper" />
    <result column="MODIFY_OPER" jdbcType="VARCHAR" property="modifyOper" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>

  <sql id="userPolicy" >
    BIND_ID, MESSAGE_NO, USER_TYPE, USER_GROUP_ID, USER_NAME, BIND_MESSAGE_TYPE, BIND_MESSAGE_NO,
    MESSAGE_SEQUENCENO, OPERATE_TYPE, CREATE_OPER, MODIFY_OPER, CREATE_TIME, MODIFY_TIME
  </sql>

  <select id="selectMessageName" parameterType="java.util.Map" resultType="String">
    SELECT MESSAGE_NAME FROM zf_v2_policy_messageno WHERE MESSAGE_TYPE=#{messageType} and MESSAGE_NO=#{messsageNo}
  </select>
  
  <select id="getUserBindList" parameterType="com.aotain.zongfen.model.general.userbind.UserBindModel" resultMap="BaseResultMap">
  
    SELECT t.BIND_ID,t.MESSAGE_NO
    ,t.USER_TYPE
    ,t.USER_NAME
    ,t.BIND_MESSAGE_TYPE
    ,t.BIND_MESSAGE_NO
    ,t.CREATE_TIME
    FROM zf_v2_policy_userpolicy_bind t
    WHERE t.OPERATE_TYPE!=3
      <if test="bindMessageType!=null">
        AND t.BIND_MESSAGE_TYPE = #{bindMessageType}
      </if>
    <if test="bindMessageNo!=null">
      AND t.BIND_MESSAGE_NO = #{bindMessageNo}
    </if>
    <if test="userType!=null">
      AND t.USER_TYPE = #{userType}
    </if>
    <if test="startTime != null and startTime!=''">
  		AND date_format(t.CREATE_TIME,'%Y-%m-%d') &gt;= #{startTime}
  	</if>
  	<if test="endTime != null and endTime!=''">
  		AND date_format(t.CREATE_TIME,'%Y-%m-%d') &lt;= #{endTime}
  	</if>
    order by t.MESSAGE_NO desc
  </select>

  <select id="getbindMessageName" parameterType="java.lang.Long" resultType="com.aotain.zongfen.dto.common.Multiselect" >

    SELECT t.MESSAGE_NO AS VALUE,t.MESSAGE_NAME AS title , t.MESSAGE_NAME AS label FROM  zf_v2_policy_messageno t
    WHERE t.OPERATE_TYPE !=3
    <if test="bindMessageType!=null">
      AND t.MESSAGE_TYPE = #{bindMessageType}
    </if>
  </select>

  <select id="getByBindMessageNoAndType"  parameterType="java.util.Map" resultMap="UserPolicyBindMap">
    SELECT <include refid="userPolicy"/>
    FROM zf_v2_policy_userpolicy_bind
    WHERE 1=1
    <if test="bindId!=null">
      AND BIND_ID = #{bindId}
    </if>
  </select>

</mapper>