<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aotain.zongfen.mapper.upload.FlowUploadMapper">
  <resultMap id="BaseResultMap" type="com.aotain.zongfen.model.upload.FlowUpload">
    <result column="PACKET_TYPE" jdbcType="DECIMAL" property="packetType" />
    <result column="PACKET_SUBTYPE" jdbcType="DECIMAL" property="packetSubtype" />
    <result column="R_STARTTIME" jdbcType="DECIMAL" property="rStarttime" />
    <result column="R_ENDTIME" jdbcType="DECIMAL" property="rEndtime" />
    <result column="R_FREQ" jdbcType="DECIMAL" property="rFreq" />
    <result column="ZONGFEN_ID" jdbcType="INTEGER" property="zongfenId" />
    <result column="R_METHOD" jdbcType="DECIMAL" property="rMethod" />
    <result column="MESSAGE_NO" jdbcType="DECIMAL" property="messageNo" />
  </resultMap>
  
  <resultMap id="ResultListMap" type="com.aotain.zongfen.dto.upload.FlowUploadDTO">
    <result column="PACKET_TYPE" jdbcType="DECIMAL" property="packetType" />
    <result column="PACKET_SUBTYPE" jdbcType="DECIMAL" property="packetSubtype" />
    <result column="R_STARTTIME" jdbcType="DECIMAL" property="rStarttime" />
    <result column="R_ENDTIME" jdbcType="DECIMAL" property="rEndtime" />
    <result column="R_FREQ" jdbcType="DECIMAL" property="rfreq" />
    <result column="ZONGFEN_ID" jdbcType="INTEGER" property="zongfenId" />
    <result column="R_METHOD" jdbcType="DECIMAL" property="rMethod" />
    <result column="OPERATETYPE" jdbcType="DECIMAL" property="operatetype" />
    <result column="CREATE_OPER" jdbcType="VARCHAR" property="createOper" />
    <result column="MODIFY_OPER" jdbcType="VARCHAR" property="modifyOper" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="MESSAGE_NO" jdbcType="DECIMAL" property="messageNo" />
    <result column="MESSAGE_NAME" jdbcType="VARCHAR" property="messageName" />
    <result column="MESSAGE_TYPE" jdbcType="DECIMAL" property="messageType" />
    <result column="USER_TYPE" jdbcType="DECIMAL" property="userType" />
    <result column="USER_GROUP_MESSAGE_NO" jdbcType="DECIMAL" property="userGroupMessageNo" />
    <result column="AREA_GROUP_MESSAGE_NO" jdbcType="DECIMAL" property="areaGroupMessageNo" />
    <result column="AREA_GROUP_MESSAGE_NAME" jdbcType="VARCHAR" property="areaGroupMessageName" />

    <result column="ddosManageMessageNo" jdbcType="DECIMAL" property="ddosManageMessageNo" />
    <result column="ddosMessageName" jdbcType="VARCHAR" property="ddosMessageName" />
    
    <result column="webPushMessageNo" jdbcType="DECIMAL" property="webPushMessageNo" />
    <result column="webPushMessageName" jdbcType="VARCHAR" property="webPushMessageName" />

    <collection property="userName" ofType="java.lang.String" select="selectUserNames" column="{messageNo=MESSAGE_NO,messageType=MESSAGE_TYPE}"  >
      <result column="USER_NAME" jdbcType="VARCHAR"  />
    </collection>
    <collection property="puserGroup" ofType="java.lang.Long" select="selectUserGroups" column="{messageNo=MESSAGE_NO,messageType=MESSAGE_TYPE}" >
      <result column="USER_GROUP_ID" jdbcType="DECIMAL" />
    </collection>
  </resultMap>
  
  <sql id="Base_Column_List">
    PACKET_TYPE, PACKET_SUBTYPE, R_STARTTIME, R_ENDTIME, R_FREQ, ZONGFEN_ID, R_METHOD,MESSAGE_NO
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zf_v2_policy_flowupload
    where MESSAGE_NO = #{messageNo,jdbcType=DECIMAL}
  </select>
  
  <select id="selectByPrimaryKeys" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from zf_v2_policy_flowupload
    where MESSAGE_NO IN (
    <foreach collection="array" separator="," item="item" >
      #{item}
    </foreach>
    )
    
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from zf_v2_policy_flowupload
    where MESSAGE_NO = #{messageNo,jdbcType=DECIMAL}
  </delete>
  
  <insert id="insertSelective" parameterType="com.aotain.zongfen.model.upload.FlowUpload">
    insert into zf_v2_policy_flowupload
    <trim prefix="(" suffix=")" suffixOverrides=",">
      
      <if test="packetType != null">
        PACKET_TYPE,
      </if>
      <if test="packetSubtype != null">
        PACKET_SUBTYPE,
      </if>
      <if test="rStarttime != null">
        R_STARTTIME,
      </if>
      <if test="rEndtime != null">
        R_ENDTIME,
      </if>
      <if test="rFreq != null">
        R_FREQ,
      </if>
      <if test="zongfenId != null">
        ZONGFEN_ID,
      </if>
      <if test="rMethod != null">
        R_METHOD,
      </if>
      <if test="messageNo != null">
        MESSAGE_NO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
     
      <if test="packetType != null">
        #{packetType,jdbcType=DECIMAL},
      </if>
      <if test="packetSubtype != null">
        #{packetSubtype,jdbcType=DECIMAL},
      </if>
      <if test="rStarttime != null">
        #{rStarttime,jdbcType=DECIMAL},
      </if>
      <if test="rEndtime != null">
        #{rEndtime,jdbcType=DECIMAL},
      </if>
      <if test="rFreq != null">
        #{rFreq,jdbcType=DECIMAL},
      </if>
      <if test="zongfenId != null">
        #{zongfenId,jdbcType=INTEGER},
      </if>
      <if test="rMethod != null">
        #{rMethod,jdbcType=DECIMAL},
      </if>
      <if test="messageNo != null">
        #{messageNo,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aotain.zongfen.model.upload.FlowUpload">
    update zf_v2_policy_flowupload
    <set>
      <if test="packetType != null">
        PACKET_TYPE = #{packetType,jdbcType=DECIMAL},
      </if>
      <if test="packetSubtype != null">
        PACKET_SUBTYPE = #{packetSubtype,jdbcType=DECIMAL},
      </if>
      <if test="rStarttime != null">
        R_STARTTIME = #{rStarttime,jdbcType=DECIMAL},
      </if>
      <if test="rEndtime != null">
        R_ENDTIME = #{rEndtime,jdbcType=DECIMAL},
      </if>
      <if test="rFreq != null">
        R_FREQ = #{rFreq,jdbcType=DECIMAL},
      </if>
      <if test="zongfenId != null">
        ZONGFEN_ID = #{zongfenId,jdbcType=INTEGER},
      </if>
      <if test="rMethod != null">
        R_METHOD = #{rMethod,jdbcType=DECIMAL},
      </if>
    </set>
    where MESSAGE_NO = #{messageNo,jdbcType=DECIMAL}
  </update>
  
  <select id="isSameMessageName" parameterType="com.aotain.zongfen.dto.upload.FlowUploadDTO" resultType="java.lang.Integer">
    SELECT COUNT(MESSAGE_NAME) FROM zf_v2_policy_messageno m , zf_v2_policy_flowupload t
    WHERE m.OPERATE_TYPE!=3 AND t.MESSAGE_NO=m.MESSAGE_NO
    <if test="messageType!=null">
      AND m.MESSAGE_TYPE = #{messageType}
    </if>
    <if test="messageName!=null">
      AND m.MESSAGE_NAME = #{messageName}
    </if>
    <if test="packetType!=null">
      AND t.PACKET_TYPE=#{packetType}
    </if>
    <if test="packetSubtype!=null">
      AND t.PACKET_SUBTYPE=#{packetSubtype}
    </if>
    <if test="messageNo!=null">
      AND t.MESSAGE_NO !=#{messageNo}
    </if>
  </select>
 
   <select id="selectPolicyList" parameterType="com.aotain.zongfen.dto.upload.FlowUploadDTO" resultMap="ResultListMap">
    SELECT DISTINCT
	    t.PACKET_TYPE, t.PACKET_SUBTYPE, t.R_STARTTIME, t.R_ENDTIME, t.R_FREQ, t.ZONGFEN_ID, t.R_METHOD,t.MESSAGE_NO,
	    m.OPERATE_TYPE, m.CREATE_OPER, m.MODIFY_OPER, m.CREATE_TIME, m.MODIFY_TIME,m.MESSAGE_NAME,m.MESSAGE_TYPE ,
	    b.USER_TYPE,b.BIND_MESSAGE_NO AS USER_GROUP_MESSAGE_NO,
	    aa.BIND_MESSAGE_NO AS AREA_GROUP_MESSAGE_NO,bb.MESSAGE_NAME AS AREA_GROUP_MESSAGE_NAME
	    
    FROM zf_v2_policy_flowupload t LEFT JOIN zf_v2_policy_messageno m ON t.MESSAGE_NO = m.MESSAGE_NO
     LEFT JOIN zf_v2_policy_userpolicy_bind b ON t.MESSAGE_NO = b.BIND_MESSAGE_NO AND b.OPERATE_TYPE!=3
     AND m.MESSAGE_TYPE=b.BIND_MESSAGE_TYPE
    LEFT JOIN zf_v2_policy_userpolicy_bind aa ON aa.MESSAGE_NO = b.MESSAGE_NO
    LEFT JOIN zf_v2_policy_messageno bb ON bb.MESSAGE_NO = aa.BIND_MESSAGE_NO
    WHERE  m.OPERATE_TYPE!=3
    <if test="messageName!=null">
      AND m.MESSAGE_NAME LIKE CONCAT('%', #{messageName}, '%')
    </if>
    <choose>
      <when test="packetType==1 and packetSubtype==0">
        AND t.PACKET_TYPE = #{packetType}
        AND (t.PACKET_SUBTYPE = 5 OR t.PACKET_SUBTYPE=0)
      </when>
      <when test="packetType==1 and packetSubtype==130">
        AND t.PACKET_TYPE = #{packetType}
        AND (t.PACKET_SUBTYPE = 130 OR t.PACKET_SUBTYPE=131)
      </when>
      <when test="packetType==1 and packetSubtype==196">
        AND t.MESSAGE_NO != aa.BIND_MESSAGE_NO
        AND bb.MESSAGE_TYPE = 69
      </when>
      <when test="packetType==2">
        AND t.PACKET_TYPE = #{packetType}
      </when>
      <otherwise>
        <if test="packetType!=null">
          AND t.PACKET_TYPE = #{packetType}
        </if>
        <if test="packetSubtype!=null">
          AND t.PACKET_SUBTYPE = #{packetSubtype}
        </if>
      </otherwise>
    </choose>
    <if test="messageNo!=null">
      AND t.MESSAGE_NO =#{messageNo}
    </if>
    <if test="messageType!=null">
      AND m.MESSAGE_TYPE = #{messageType}
    </if>
    <if test="searchStartTime!=null">
      AND m.CREATE_TIME &gt;= #{searchStartTime}
    </if>
     <if test="searchEndTime!=null">
       AND m.CREATE_TIME &lt; #{searchEndTime}
     </if>
    order BY m.MODIFY_TIME desc
  </select>

  <select id="selectDdosPolicyList" parameterType="com.aotain.zongfen.dto.upload.FlowUploadDTO" resultMap="ResultListMap">
    SELECT DISTINCT
    t.PACKET_TYPE, t.PACKET_SUBTYPE, t.R_STARTTIME, t.R_ENDTIME, t.R_FREQ, t.ZONGFEN_ID, t.R_METHOD,t.MESSAGE_NO,
    m.OPERATE_TYPE, m.CREATE_OPER, m.MODIFY_OPER, m.CREATE_TIME, m.MODIFY_TIME,m.MESSAGE_NAME,m.MESSAGE_TYPE ,
    b.USER_TYPE,b.BIND_MESSAGE_NO AS USER_GROUP_MESSAGE_NO,
    aa.BIND_MESSAGE_NO AS ddosManageMessageNo,bb.MESSAGE_NAME AS ddosMessageName

    FROM zf_v2_policy_flowupload t LEFT JOIN zf_v2_policy_messageno m ON t.MESSAGE_NO = m.MESSAGE_NO
    LEFT JOIN zf_v2_policy_userpolicy_bind b ON t.MESSAGE_NO = b.BIND_MESSAGE_NO
    AND m.MESSAGE_TYPE=b.BIND_MESSAGE_TYPE AND b.OPERATE_TYPE!=3
    LEFT JOIN zf_v2_policy_userpolicy_bind aa ON aa.MESSAGE_NO = b.MESSAGE_NO
    LEFT JOIN zf_v2_policy_messageno bb ON bb.MESSAGE_NO = aa.BIND_MESSAGE_NO
    WHERE m.OPERATE_TYPE!=3
    <if test="messageName!=null">
      AND m.MESSAGE_NAME LIKE CONCAT('%', #{messageName}, '%')
    </if>
    <choose>
      <when test="packetType==1 and packetSubtype==192">
        AND t.MESSAGE_NO != aa.BIND_MESSAGE_NO
        AND bb.MESSAGE_TYPE = 67
      </when>
      <when test="packetType==2">
        AND t.PACKET_TYPE = #{packetType}
      </when>
      <otherwise>
        <if test="packetType!=null">
          AND t.PACKET_TYPE = #{packetType}
        </if>
        <if test="packetSubtype!=null">
          AND t.PACKET_SUBTYPE = #{packetSubtype}
        </if>
      </otherwise>
    </choose>
    <if test="messageNo!=null">
      AND t.MESSAGE_NO =#{messageNo}
    </if>
    <if test="messageType!=null">
      AND m.MESSAGE_TYPE = #{messageType}
    </if>
    <if test="searchStartTime!=null">
      AND m.CREATE_TIME &gt;= #{searchStartTime}
    </if>
    <if test="searchEndTime!=null">
      AND m.CREATE_TIME &lt; #{searchEndTime}
    </if>
    order BY m.MODIFY_TIME desc
  </select>
  
  <select id="selectWebPushPolicyList" parameterType="com.aotain.zongfen.dto.upload.FlowUploadDTO" resultMap="ResultListMap">
    SELECT DISTINCT
    t.PACKET_TYPE, t.PACKET_SUBTYPE, t.R_STARTTIME, t.R_ENDTIME, t.R_FREQ, t.ZONGFEN_ID, t.R_METHOD,t.MESSAGE_NO,
    m.OPERATE_TYPE, m.CREATE_OPER, m.MODIFY_OPER, m.CREATE_TIME, m.MODIFY_TIME,m.MESSAGE_NAME,m.MESSAGE_TYPE ,
    b.USER_TYPE,b.BIND_MESSAGE_NO AS USER_GROUP_MESSAGE_NO,
    aa.BIND_MESSAGE_NO AS webPushMessageNo,bb.MESSAGE_NAME AS webPushMessageName,aa.BIND_MESSAGE_NO AS lastWebPushGroupMessageNo

    FROM zf_v2_policy_flowupload t LEFT JOIN zf_v2_policy_messageno m ON t.MESSAGE_NO = m.MESSAGE_NO
    left JOIN zf_v2_policy_userpolicy_bind b on t.MESSAGE_NO = b.BIND_MESSAGE_NO AND m.MESSAGE_TYPE=b.BIND_MESSAGE_TYPE AND b.OPERATE_TYPE!=3
    LEFT JOIN zf_v2_policy_userpolicy_bind aa ON aa.MESSAGE_NO = b.MESSAGE_NO
    LEFT JOIN zf_v2_policy_messageno bb ON bb.MESSAGE_NO = aa.BIND_MESSAGE_NO
    WHERE  m.OPERATE_TYPE!=3
    <if test="messageName!=null">
      AND m.MESSAGE_NAME LIKE CONCAT('%', #{messageName}, '%')
    </if>
     AND t.MESSAGE_NO != aa.BIND_MESSAGE_NO
     AND bb.MESSAGE_TYPE = 65
    <if test="messageNo!=null">
      AND t.MESSAGE_NO =#{messageNo}
    </if>
    <if test="messageType!=null">
      AND m.MESSAGE_TYPE = #{messageType}
    </if>
    <if test="searchStartTime!=null">
      AND m.CREATE_TIME &gt;= #{searchStartTime}
    </if>
    <if test="searchEndTime!=null">
      AND m.CREATE_TIME &lt; #{searchEndTime}
    </if>
    order BY m.MODIFY_TIME desc
  </select>

  <select id="getAppUserPolicyList" parameterType="com.aotain.zongfen.dto.upload.FlowUploadDTO" resultMap="ResultListMap">
    SELECT DISTINCT
    t.PACKET_TYPE, t.PACKET_SUBTYPE, t.R_STARTTIME, t.R_ENDTIME, t.R_FREQ, t.ZONGFEN_ID, t.R_METHOD,t.MESSAGE_NO,
    m.OPERATE_TYPE, m.CREATE_OPER, m.MODIFY_OPER, m.CREATE_TIME, m.MODIFY_TIME,m.MESSAGE_NAME,m.MESSAGE_TYPE ,
    b.USER_TYPE,b.BIND_MESSAGE_NO AS USER_GROUP_MESSAGE_NO,
    aa.BIND_MESSAGE_NO AS appUserMessageNo,bb.MESSAGE_NAME AS appUserMessageName

    FROM zf_v2_policy_flowupload t LEFT JOIN zf_v2_policy_messageno m on t.MESSAGE_NO = m.MESSAGE_NO
    LEFT JOIN zf_v2_policy_userpolicy_bind b ON t.MESSAGE_NO = b.BIND_MESSAGE_NO
    AND m.MESSAGE_TYPE=b.BIND_MESSAGE_TYPE AND b.OPERATE_TYPE!=3
    LEFT JOIN zf_v2_policy_userpolicy_bind aa ON aa.MESSAGE_NO = b.MESSAGE_NO
    LEFT JOIN zf_v2_policy_messageno bb ON bb.MESSAGE_NO = aa.BIND_MESSAGE_NO
    WHERE m.OPERATE_TYPE!=3
    <if test="messageName!=null">
      AND m.MESSAGE_NAME LIKE CONCAT('%', #{messageName}, '%')
    </if>
    AND t.MESSAGE_NO != aa.BIND_MESSAGE_NO
    AND bb.MESSAGE_TYPE = 8
    <if test="messageNo!=null">
      AND t.MESSAGE_NO =#{messageNo}
    </if>
    <if test="messageType!=null">
      AND m.MESSAGE_TYPE = #{messageType}
    </if>
    <if test="searchStartTime!=null">
      AND m.CREATE_TIME &gt;= #{searchStartTime}
    </if>
    <if test="searchEndTime!=null">
      AND m.CREATE_TIME &lt; #{searchEndTime}
    </if>
    order BY m.MODIFY_TIME desc
  </select>


  <select id="getPolicyList" parameterType="com.aotain.zongfen.dto.upload.FlowUploadDTO" resultMap="ResultListMap">
    SELECT DISTINCT
    t.PACKET_TYPE, t.PACKET_SUBTYPE, t.R_STARTTIME, t.R_ENDTIME, t.R_FREQ, t.ZONGFEN_ID, t.R_METHOD,
    m.OPERATE_TYPE, m.CREATE_OPER, m.MODIFY_OPER, m.CREATE_TIME, m.MODIFY_TIME, t.MESSAGE_NO, m.MESSAGE_NAME
    ,m.MESSAGE_TYPE ,
    b.USER_TYPE
    FROM zf_v2_policy_flowupload t LEFT JOIN zf_v2_policy_messageno m on t.MESSAGE_NO = m.MESSAGE_NO
    LEFT JOIN zf_v2_policy_userpolicy_bind b on t.MESSAGE_NO = b.BIND_MESSAGE_NO AND m.MESSAGE_TYPE=b.BIND_MESSAGE_TYPE AND b.OPERATE_TYPE!=3
    WHERE  m.OPERATE_TYPE!=3
    <if test="messageName!=null">
      AND m.MESSAGE_NAME LIKE CONCAT('%', #{messageName}, '%')
    </if>
    <choose>
      <when test="packetType==1 and packetSubtype==0">
        AND t.PACKET_TYPE = #{packetType}
        AND (t.PACKET_SUBTYPE = 5 OR t.PACKET_SUBTYPE=0)
      </when>
      <when test="packetType==1 and packetSubtype==130">
        AND t.PACKET_TYPE = #{packetType}
        AND (t.PACKET_SUBTYPE = 130 OR t.PACKET_SUBTYPE=131)
      </when>
      <when test="packetType==2">
        AND t.PACKET_TYPE = #{packetType}
      </when>
      <otherwise>
        <if test="packetType!=null">
          AND t.PACKET_TYPE = #{packetType}
        </if>
        <if test="packetSubtype!=null">
          AND t.PACKET_SUBTYPE = #{packetSubtype}
        </if>
      </otherwise>
    </choose>
    <if test="messageNo!=null">
      AND t.MESSAGE_NO =#{messageNo}
    </if>
    <if test="messageType!=null">
      AND m.MESSAGE_TYPE = #{messageType}
    </if>
    <if test="searchStartTime!=null">
      AND m.CREATE_TIME &gt;= #{searchStartTime}
    </if>
    <if test="searchEndTime!=null">
      AND m.CREATE_TIME &lt; #{searchEndTime}
    </if>
    order BY m.MODIFY_TIME desc
    
  </select>
  
  <select id="selectUserNames" parameterType="java.util.Map" resultType="String">
    SELECT USER_NAME from zf_v2_policy_userpolicy_bind WHERE BIND_MESSAGE_NO=#{messageNo} AND BIND_MESSAGE_TYPE=#{messageType} AND  OPERATE_TYPE!=3 AND USER_TYPE!=3
  </select>
  
  <select id="selectUserGroups" parameterType="java.util.Map" resultType="Long">
    SELECT USER_GROUP_ID from zf_v2_policy_userpolicy_bind WHERE BIND_MESSAGE_NO=#{messageNo} AND BIND_MESSAGE_TYPE = #{messageType} AND  OPERATE_TYPE!=3 AND USER_TYPE=3
  </select>

  <select id="getAppPolicyMessageName" parameterType="java.util.Map" resultType="hashMap">

    SELECT
    MESSAGE_NO as messageNo,
    MESSAGE_NAME as messageName
    FROM zf_v2_policy_messageno WHERE MESSAGE_TYPE = #{appMessageType}
    AND MESSAGE_NO =(
     SELECT BIND_MESSAGE_NO FROM zf_v2_policy_userpolicy_bind WHERE BIND_MESSAGE_TYPE=#{appMessageType}
     AND MESSAGE_NO=(SELECT MESSAGE_NO FROM zf_v2_policy_userpolicy_bind WHERE BIND_MESSAGE_TYPE=1 AND BIND_MESSAGE_NO=#{messageNo} limit 1)
    )
  </select>



</mapper>