<div th:fragment="importsnippet">
    <div class="modal inmodal modaladd fade" id="leadto" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="ibox-title navbar">
                    <h5>导入</h5>
                </div>
                <form class="form-horizontal" id="importForm">

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="hr-line-dashed"></div>
                                <div class="form-group" id="listName">
                                    <label class="col-md-2 control-label">导入列表名称</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id ="exportListName" name="listName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">类型</label>
                                    <div class="col-md-6">
                                        <select class="form-control" name="infoType" id="infoTypeId">
                                            <option value="">请选择</option>
                                            <option value="1">推送触发网站</option>
                                            <option value="0">推送触发关键字</option>
                                            <option value="2">白名单</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group" id="fileImport">
                                    <label class="col-md-2 control-label">文件</label>
                                    <div class="col-md-6">
                                        <input type="file" class="form-control" id ="importFile" name="importFile">
                                    </div>

                                    <div class="col-md-3 help-block">
                                        <a href="#" onclick='exportTemplete()' target="_self">下载导入模板</a>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group m-t">
                                    <div class="col-md-offset-2 col-md-6">
                                        <button type="button" class="btn btn-primary" id="importFormButton" >导入并生成文件列表下发</button>
                                        <a class="m-l-sm" data-dismiss="modal">取消</a> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>