<div th:fragment="detail">

    <div class="modal inmodal fade modaladd" id="pcapModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="wrapper wrapper-content hper100">
            <div class="row">
                <div class="col-md-12">
                    <div class="ibox">
                        <div class="ibox-content no-borders">
                            <div class="pull-left">
                                <h4>采集监控详情</h4>
                            </div>
                            <div class="pull-right m-b-sm">
                                <button type="button" class="btn btn-success" data-dismiss="modal"><i class="fa fa-reply-all"></i> 返回上一级</button>
                            </div>
                            <table id="pcapTable" data-mobile-responsive="true" class="text-left">

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal inmodal fade modaladd" id="pcapThirdModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="wrapper wrapper-content hper100">
            <div class="row">
                <div class="col-md-12">
                    <div class="ibox">
                        <div class="ibox-content no-borders">
                            <div class="pull-left">
                                <h4>采集监控详情</h4>
                            </div>
                            <div class="pull-right m-b-sm">
                                <button type="button" class="btn btn-success" data-dismiss="modal"><i class="fa fa-reply-all"></i> 返回上一级</button>
                            </div>
                            <table id="pcapThirdTable" data-mobile-responsive="true" class="text-left">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal inmodal fade modaladd" id="relayModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="wrapper wrapper-content hper100">
            <div class="row">
                <div class="col-md-12">
                    <div class="ibox">
                        <div class="ibox-content no-borders">
                            <div class="pull-left">
                                <h4>中转监控详情</h4>
                            </div>
                            <div class="pull-right m-b-sm">
                                <button type="button" class="btn btn-success" data-dismiss="modal"><i class="fa fa-reply-all"></i> 返回上一级</button>
                            </div>
                            <table id="relayTable" data-mobile-responsive="true" class="text-left">

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal inmodal fade modaladd" id="relayThirdModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="wrapper wrapper-content hper100">
            <div class="row">
                <div class="col-md-12">
                    <div class="ibox">
                        <div class="ibox-content no-borders">
                            <div class="pull-left">
                                <h4>中转监控详情</h4>
                            </div>
                            <div class="pull-right m-b-sm">
                                <button type="button" class="btn btn-success" data-dismiss="modal"><i class="fa fa-reply-all"></i> 返回上一级</button>
                            </div>
                            <table id="relayThirdTable" data-mobile-responsive="true" class="text-left">

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal inmodal fade modaladd" id="policyModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="wrapper wrapper-content hper100">
            <div class="row">
                <div class="col-md-12">
                    <div class="ibox">
                        <div class="ibox-content no-borders">
                            <div class="pull-left">
                                <h4>policy发包监控详情</h4>
                            </div>
                            <div class="pull-right m-b-sm">
                                <button type="button" class="btn btn-success" data-dismiss="modal"><i class="fa fa-reply-all"></i> 返回上一级</button>
                            </div>
                            <table id="policyTable" data-mobile-responsive="true" class="text-left">

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal inmodal fade modaladd" id="policyThirdModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="wrapper wrapper-content hper100">
            <div class="row">
                <div class="col-md-12">
                    <div class="ibox">
                        <div class="ibox-content no-borders">
                            <div class="pull-left">
                                <h4>policy发包监控详情</h4>
                            </div>
                            <div class="pull-right m-b-sm">
                                <button type="button" class="btn btn-success" data-dismiss="modal"><i class="fa fa-reply-all"></i> 返回上一级</button>
                            </div>
                            <table id="policyThirdTable" data-mobile-responsive="true" class="text-left">

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal inmodal fade modaladd" id="createFileModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="wrapper wrapper-content hper100">
            <div class="row">
                <div class="col-md-12">
                    <div class="ibox">
                        <div class="ibox-content no-borders">
                            <div class="pull-left">
                                <h4>生成文件监控详情</h4>
                            </div>
                            <div class="pull-right m-b-sm">
                                <button type="button" class="btn btn-success" data-dismiss="modal"><i class="fa fa-reply-all"></i> 返回上一级</button>
                            </div>
                            <table id="createFileTable" data-mobile-responsive="true" class="text-left">

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal inmodal fade modaladd" id="createFileThirdModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="wrapper wrapper-content hper100">
            <div class="row">
                <div class="col-md-12">
                    <div class="ibox">
                        <div class="ibox-content no-borders">
                            <div class="pull-left">
                                <h4>生成文件监控详情</h4>
                            </div>
                            <div class="pull-right m-b-sm">
                                <button type="button" class="btn btn-success" data-dismiss="modal"><i class="fa fa-reply-all"></i> 返回上一级</button>
                            </div>
                            <table id="createFileThirdTable" data-mobile-responsive="true" class="text-left">

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>